body { margin-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; text-align: center; background-color: #000000;}
h1 { font-family:'Sacramento'; font-size: 50px; color: #005461;}
.p1 { font-family: "Delius", cursive; color: #213448; }
.top { background-color: #EDFFF0;}
.middle { height: 200px; width: 200px; background-color: red; }
.bottom { height: 200px; width: 200px; background-color: blue; }
.mountain { margin-left: 250px; }
.c1 { height: 72px; width: 128px; position: relative; left: 480px; bottom: 50px;}
.c2 { position: relative; left: 500px; top: 50px;}
.c3 { height: 36px; width: 64px; }
.c4 { position: relative; bottom: 400px; height: 72px; width: 128px;}
.m1 { height: 350px; width: 449px; }
.m3 { height: 175px; width: 224.5px; position: relative; right: 100px; bottom: 50px; }
.space0 { height: 50px; }
.space1 { height: 50px; width: 150px; }
.space2 { height: 50px; width: 150px; }
.coding {height: 400px; width: 400px; height: 25%; width: 25%; float:left; position: relative; bottom: 30px; margin-right: 25px;}
.webdev {height: 400px; width: 400px; height: 25%; width: 25%; float:right; margin-left: 25px; position: relative; bottom: 25px;}
.tools {height: 400px; width: 400px; height: 25%; width: 25%; float: left; margin-right: 25px;}
.hh { font-family: "Walter Turncoat", cursive; }
.hhh { font-family: "Walter Turncoat", cursive; }
.ppp {  font-family: "Coming Soon", cursive; }
.btn { font-family: "Walter Turncoat", cursive; }
.footer-link { font-family: "Coming Soon", cursive; }
.skill-row { width: 50%; margin: 100px auto; line-height: 2; text-align: left;}
.text-down { position: relative; top: 30px; text-align: right;}
.text-down2 { position: relative; top: 60px; }
.center1 {text-align: center;}
.hr-color {color: white;}
.middle-container { background-color: #EDFFF0; }
.bottom-container { background-color: black; }
.myButton {
	background-color:black;
	border-radius:28px;
	border:0px solid #37ab84;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:"Walter Turncoat", cursive;;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: 20px auto 40px auto;
}
.myButton:hover {
	background-color:grey;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
    margin-top: 20px;
	background-color:#ffffff;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:10px;
	padding:8px 15.5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton2:hover {
	background-color: grey;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
    margin-top: 20px;
	background-color:#ffffff;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:10px;
	padding:8px 15.5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton3:hover {
	background-color: grey;
}
.myButton3:active {
	position:relative;
	top:1px;
}

.myButton4 {
    margin-top: 20px;
	background-color:#ffffff;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:10px;
	padding:8px 15.5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton4:hover {
	background-color: grey;
}
.myButton4:active {
	position:relative;
	top:1px;
}
.white-paragraph { color: white; }
a {margin: 10px 10px;}